{% extends "../index.html" %}

{% load static %}


<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% block contenido %}  

    {% for buzo in buzos %}
        <li>
            {{ buzo }}
            <a href="/local_de_ropa/update_buzo/{{buzo.id}}" class="btn btn-warning"> EDIT </a>
            <a href="/local_de_ropa/delete_buzo/{{buzo.id}}" class="btn btn-danger"> DELETE </a>
    
        </li>
        <br>
    {%endfor%}
    
    
    <a class="btn btn-success" href="/local_de_ropa/create_buzo">AGREGAR BUZO</a>


{% endblock %}    
